LANGFUSE_SECRET_KEY = "sk-lf-..."
LANGFUSE_PUBLIC_KEY = "k-lf-..."
LANGFUSE_BASE_URL = "http://localhost:3000"

DEEPSEEK_API_KEY=sk-9ef967c0307c494a9bd418c104ee6354

ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_API_KEY=

DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_API_KEY=