LANGFUSE_SECRET_KEY = "sk-lf-..."
LANGFUSE_PUBLIC_KEY = "pk-lf-..."
LANGFUSE_BASE_URL = "http://localhost:3000"


DEEPSEEK_BASE_URL = "https://api.deepseek.com"
DEEPSEEK_API_KEY = ""
DEEPSEEK_MODEL = "deepseek-chat"

ARK_BASE_URL= "https://ark.cn-beijing.volces.com/api/v3"
ARK_API_KEY= ""
DOUBAO_MODEL = "doubao-seed-1-6-251015"


DASHSCOPE_BASE_URL= "https://dashscope.aliyuncs.com/compatible-mode/v1"
DASHSCOPE_API_KEY= ""
QWEN_MODEL = "qwen-plus"
